/****************
        GLOBAL
*****************/
html {
    font-family: 'Roboto', sans-serif;
    color:#575B60; 
    scroll-behavior: smooth;
} 

ul {
    list-style: none;
}

img {
  width: 100%;
  height: auto;
}  



/******************
        HOME
*******************/        






.homeText a {
    align-self: flex-start;
    margin-top: 10vw;
}

.buttonLink {
    background-color: #575B60;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.buttonLink:hover, .buttonLink:active {
    background-color: #939FAF;
    color: black;
  }

.homeText button {
    margin-top: 80px;
}

.homeText span {
    color: #939FAF;
}

.homeText h4 span {
    text-decoration: underline;
}



#home {
    /* display: flex; */
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#navbar {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #939FAF;
}

.homeText h1 {
    /* font-size: 10vw; */
    margin-top: 100px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 3vw;

}
.homeText {
    color:#575B60;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 50px; */
    height: 50vh;
    text-align: center;
    line-height: 2;
}
.bgImgHome {
    background-image: url("/imgs/jesus-kiteque-224069-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
}
#navbar a {
    color: #fff;
    padding: 10px;
    font-size: 1.2vw;
    text-decoration: none;
    transition-duration: 0.5s;

}

#navbar a:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  
  }

  .homeBtn {
    align-self: flex-start;
  }

.contactbutton {
  align-self: center;
}

.homeText h4 {
    font-size: 1vw; 
    margin: 0;
    
}

.homeText p {
    font-size: 0.7vw;
}



/***************
    ABOUT ME
***************/
#aboutMe {
    /* display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%; */
    padding-bottom: 10vh;
    background-color: rgb(240, 241, 243);
}

.aboutContent  {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
}

.aboutContent h3 {
    padding-top: 40px;
    align-self: center;
    font-weight: 300;
    font-size: 2vw;
    margin: 0;
}

.aboutContent p {
    justify-self: flex-start;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1vw;
    line-height: 20px;
}

.aboutContent img {
  border: 2px solid red;
}

.aboutImgs_1 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.aboutImgs_1 img {
  display: block;
  width: 20vw;
  height: auto;
  margin: 2vh;
}

.aboutImgs_2 {
  display: flex;
  justify-content: center;
  
}

.aboutImgs_2 img {
  display: block;
  width: 20vw;
  height: auto;
  margin: 2vh;
}

.aboutImgs_1 img {
  transition-duration: 0.8s;
  filter: grayscale(1);
}
.aboutImgs_1 img:hover {
  overflow: hidden;
  transition-duration: 0.8s;
  filter: none;
}

.aboutImgs_2 img {
  transition-duration: 0.8s;
  filter: grayscale(1);
}
.aboutImgs_2 img:hover {
  overflow: hidden;

  transition-duration: 0.8s;
  filter: none;
}
/****************
    IMG GALLERY
****************/

* {box-sizing: border-box;}
/* 
.imgsContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.img-comp-container {
  display: inline-block;
  position: relative;
  width: 65%;
  left: 35%;
  /* height: 284px; /*should be the same height as the images*/
 /* }   */

/* .img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  /* width: 40px;
  height: 40px;
  background-color: #939FAF;
  opacity: 0.7;
  border-radius: 50%;
}

.img-comp-img img:hover {
  background-color: rgb(0, 108, 248);
}  */

/****************
     SKILLS
****************/

#skills {
    
}

.skillsContent {
    display: flex;
    flex-direction: column;
    
}

.skillsContent h3 {
    align-self: center;
    margin: 0;
    padding-top: 2vh;
    font-weight: 300;
    font-size: 2vw;
}

.logoContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.logoContainer a {
  transition-duration: 0.6s;
}
.logoContainer a:hover {
  transform: scale(0.5);
  transition-duration: 0.6s;
  opacity: 0.5;
}

.jsPos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.jsPos img {
  align-self: flex-end;
}

.mLogoContainer {
  display: flex;
  justify-content: space-around;
}

.mLogoContainer a {
  transition-duration: 0.6s;
}

.mLogoContainer a:hover {
  transform: scale(0.5);
  transition-duration: 0.6s;
  opacity: 0.5;
}


/***************
      WORK
***************/

.workHistoryContainer {
  
}

#projects {
    background-color: rgb(240, 241, 243);
    height: 80vh;
    width: 100%;
}

#projects h3 {
  padding-top: 2vh;
  margin: 0 auto;
  font-size: 2vw;
}

.projectsContent {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.projectsContent ul {
  font-size: 1.5vw;
}

/* .projectsContent h3 {
    padding-top: 1vh;
    align-self: center;
    font-weight: 300;
    font-size: 0.5em;
    margin: 0 auto;
} */

.projectsImgContainer {
  position: relative;
  text-align: center;
  color:#575B60;
  padding: 0;
}

.centeredTxt {
  position: absolute;
  top: 8%;
  left: 58%;
}

.divTxt {
  font-size: 1.5vw;
}



.projectsImgContainer a {
  transition-duration: 0.5s;
}

.projectsImgContainer a:hover {
  transition-duration: 0.5s;
  filter: drop-shadow(30px 10px 4px #575B60);
}

.projectsImgContainer h4 {
  margin: 0;
}
.workHistoryContainer h4 {
  align-self: center;
}

.workHistoryContainer ul {
  padding: 0;
}

#projects h3 {
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
}









/****************
    CONTACTS
****************/

#contact {
    width: 100%;
    background-color: #575B60;
    font-weight: 300;
}

.contactContent {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding-top: 40px;
    font-weight: 300;
    font-size: 2vw;
    padding-left: 2.5vw;
}

.contactContent h3 {
  font-weight: 300;
}

.contactContent li {
 font-weight: 300; 
 font-size: 1.5vw;
}


.contactContent ul {
  padding: 0;
}

.mediaIcons {
  display: flex;
  justify-content: center;
}
.mediaIcons a {
  text-decoration: none;
  color: white;
  padding: 2vw;
  font-size: 2vw;
  transition-duration: 0.5s;
}

.mediaIcons a:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.mediaIcons i {
  text-decoration: none;
  
}

@media only screen and (max-width: 768px) {

}